<%= form_for([@study, @survey, @survey.questions.build]) do |f| %>
  <% if @question.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved: </h2>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">

    <%= f.label :question %><br />
    <%= f.text_field :question, "data-bind" =>  "value: questionText, valueUpdate: 'keydown'"%>

  <div class="clear"></div><br>
   <label>Image for question</label><br />
    <p><%= f.filepicker_field :filepicker_url, dragdrop: true, :class => "btn", :data => { :fp_button_class => 'btn btn-default' } %></p>

    <input id="question_options" name="question[options]" size="30" type="hidden" value="">

    <div class="clear"></div><br>
    <label>Response Type</label>
    <select name="question[qtype]" data-bind="options: types, value: selectedType">
      <!-- ko foreach: types -->
        <option class="optset-opt" data-bind="value: $data, text: $data"></option>
      <!-- /ko -->
    </select>
    <label class="checkbox">
      <input type="checkbox" name="question[shuffle]"/>
      Shuffle options for each user
    </label>

    <br>
    <div class="optset" data-bind="if: selectedType() == '5-point scale'">
      <label>Label your scale points</label>
      <ul data-bind="foreach: opts" class="list list-unstyled">
        <li> <input class="optset-opt" type="text" data-bind="value: title, valueUpdate: 'keypress'"> </li>
      </ul>
    </div>
    <div class="optset" data-bind="if: selectedType() == 'Either/Or'">
      <label>Either</label>
      <input class="optset-opt" type="text" data-bind="value: optYes, valueUpdate: 'keypress'" value="Yes" />
      <br>
      <label>...or</label>
      <input class="optset-opt" type="text" data-bind="value: optNo, valueUpdate: 'keypress'" value="No" />
    </div>
    <div class="opt-set" data-bind="if: selectedType() == 'Check all that apply'">
      <div class="panel">
        <form>
          <label>Add checkbox</label>
          <input type="text" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' />
          <br />
          <input type="submit" class="btn btn-default" href="#" data-bind="click: itemToAdd().length > 0, click:addItem" value="Add">
        </form>
      </div>
      <div class="panel">
        <label>Values to check</label>
        <select class="optset" multiple="multiple" height="5" data-bind=" selectedOptions:selectedItems"> 
          <!-- ko foreach: allItems -->
            <option class="optset-opt" data-bind="value: $data, text: $data"></option>
          <!-- /ko -->
        </select>
         
        <br />
        <div>
            <button class="btn btn-default" data-bind="click: removeSelected, enable: selectedItems().length > 0">Remove</button>
            <button class="btn btn-default" data-bind="click: sortItems, enable: allItems().length > 1">Sort</button>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
  <br />
  <div class="actions">
    <a class="btn btn-default" href="/surveys/<%= @survey.id %>">Cancel</a>
    <a class="btn btn-primary" id="bindAndSave" href="#">Save Question</a>
  </div>
<% end %>
