<%= form_for([@study, @survey, @question]) do |f| %>
  <% if @question.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved: </h2>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">

    <%= f.label :question %><br />
    <%= f.text_field :question, "data-bind" =>  "value: questionText, valueUpdate: 'keydown'"%>

  <div class="clear"></div><br>
   <label>Survey Image*</label><br />
   <%= f.filepicker_field :filepicker_url, :class => 'btn btn-default' %>

    <input id="question_options" name="question[options]" size="30" type="hidden" value="">

    <div class="clear"></div><br>
    <label>Response Type</label>
    <select name="question[qtype]" data-bind="options: types, value: selectedType">
      <!-- ko foreach: types -->
        <option class="optset-opt" data-bind="value: $data, text: $data"></option>
      <!-- /ko -->
    </select>

    <br>
    <div class="optset" data-bind="if: selectedType() == '5-point scale'">
      <label>Label your scale points</label>
      <ul class="list list-unstyled">
        <li> <input class="optset-opt" type="text" value="Extremely unlikely"> </li>
        <li> <input class="optset-opt" type="text" value="Unlikely"> </li>
        <li> <input class="optset-opt" type="text" value="Neutral"> </li>
        <li> <input class="optset-opt" type="text" value="Likely"> </li>
        <li> <input class="optset-opt" type="text" value="Extremely likely"> </li>
      </ul>
    </div>
    <div class="optset" data-bind="if: selectedType() == 'Either/Or'">
      <label>Either</label>
      <input class="optset-opt" type="text" value="Yes" />
      <br>
      <label>...or</label>
      <input class="optset-opt" type="text" value="No" />
    </div>
    <div class="opt-set" data-bind="if: selectedType() == 'Check all that apply'">
      <div class="panel">
        <form>
          <label>Add checkbox</label>
          <input type="text" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' />
          <br />
          <input type="submit" class="btn btn-default" href="#" data-bind="click: itemToAdd().length > 0, click:addItem" value="Add">
        </form>
      </div>
      <div class="panel">
        <label>Values to check</label>
        <select class="optset" multiple="multiple" height="5" data-bind=" selectedOptions:selectedItems"> 
          <!-- ko foreach: allItems -->
            <option class="optset-opt" data-bind="value: $data, text: $data"></option>
          <!-- /ko -->
        </select>
         
        <br />
        <div>
            <button class="btn btn-default" data-bind="click: removeSelected, enable: selectedItems().length > 0">Remove</button>
            <button class="btn btn-default" data-bind="click: sortItems, enable: allItems().length > 1">Sort</button>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
  <br />
  <div class="actions">
    <a class="btn btn-default" href="/studies/<%= @study.id %>/surveys/<%= @survey.id %>/questions/<%= @question.id %>">Cancel</a>
    <a class="btn btn-primary" id="bindAndSave" href="#">Save Question</a>
    <!-- <%= f.submit "Save Question", :class => "btn btn-primary" %> -->
  </div>
<% end %>
