<h1>Preview</h1>
<div class="panel">
	<ol>
		<li>
			<p><strong data-bind="text: questionText">Question</strong></p>
			<ul class="list-unstyled">
				<li data-bind="if: selectedType() == 'Text (sentence)'"><input type="text" /></li>
				<li data-bind="if: selectedType() == 'Text (paragraph)'"><textarea rows="10" cols="100"></textarea></li>
				<li data-bind="if: selectedType() == '5-point scale'">
					<ul data-bind="foreach: opts" class="list list-unstyled">
						<li>
							<label>
								<input type="radio" name="pt-example" />
								<span data-bind="text: title"></span>
							</label>
						</li>
					</ul>
				</li>
				<li data-bind="if: selectedType() == 'Either/Or'">
					<ul class="list list-unstyled">
						<li>
							<label>
								<input type="radio" name="pt-example" />
								<span data-bind="text: optYes"></span>
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="pt-example" />
								<span data-bind="text: optNo"></span>
							</label>
						</li>
					</ul>
				</li>
				<li data-bind="if: selectedType() == 'Check all that apply'">
	        <ul class="list list-unstyled" data-bind=""> 
	          <!-- ko foreach: allItems -->
	            <li>
	            	<input type="checkbox" />
	            	<span data-bind="text: $data"></span>
	            </li>
	          <!-- /ko -->
	        </ul>
				</li>
			</ul>
		</li>
	</ol>	
</div>