<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/surveys/">Surveys</a></li>
  <li>Questions</li>
</ul>

<section class="col col-12">
	<%= render 'layouts/heading', :heading_text => 'All Questions', :back_button => true %></h1>
</article>
	<hr>
	<table class="table table-condensed table-hover">
	  <thead>
	    <tr>
	      <th>Questions</th>
	    </tr>
	  </thead>
	  <tbody>
    	<% @questions.each do |question| %>
		    <tr>
		      <td><%= question.question %></td>
		    </tr>
			<% end %>
	  </tbody>
	</table>
<section class="col col-12">
