<% if user_is_author(@author) %>
	<ul class="breadcrumb">
	  <li><a href="/">Dashboard</a></li>
	  <li><a href="/surveys/<%= @survey.id %>"><%= @survey.name %></a></li>
	</ul>

	<section class="col col-12">
		<h1><%= @survey.name %>: Questions</h1>
		
		<a class="btn btn-primary" href="/surveys/<%= @survey.id %>/questions/new/">Add New Question</a>
		<hr>
		<table class="table table-condensed table-hover">
		  <thead>
		    <tr>
		      <th>Questions</th>
		    </tr>
		  </thead>
		  <tbody>
	    	<% @questions.each do |question| %>
			    <tr>
			      <td><a href="/surveys/<%= @survey.id %>/questions/<%= question.id %>/"><%= question.question %></td>
			    </tr>
				<% end %>
		  </tbody>
		</table>
	<section class="col col-12">
<% else %>
	<h1>Survey details not authorized</h1>
	<p>You cannot view details for surveys you do not own.</p>
<% end %>