<% if user_is_author(@author) %>
	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li>New Question</li>
	</ul>
	<div class="col col-sm-12">
		<h1 class="big-heading" style=""><i class="custom-icon-question"></i>&nbsp;New Question</h1>
		<hr>
	</div>
	<div class="col col-sm-4">
		<%= render 'form' %>
	</div>
  <div class="col col-sm-6 col-offset-2">
		<%= render 'previewer' %>
  </div>
<% else %>
	<h1>Survey not authorized</h1>
	<p><em>You cannot create questions for surveys you do not own</em></p>
<% end %>

