<% if user_is_author(@author) %>

  <article class="col col-sm-6">
  	<h1><i class="custom-icon-survey"></i> <%= @survey.name %></h1>
    <h2><i class="custom-icon-question"></i> <%= @question.question %></h2>
    <% if !@question.filepicker_url.blank? %>
      <%= filepicker_image_tag @question.filepicker_url, w: 160, h: 160, fit: 'clip' %>
    <% end %>
  </article>
  <article class="menu col col-sm-6">
    <a href="/studies/<%= @study.id %>/surveys/<%= @survey.id %>/questions/<%= @question.id %>/edit" class="pull-right btn btn-small btn-primary"><i class="icon-pencil"></i> Edit</a>
    <%= link_to raw("<i class='icon-remove'></i> Delete"), [@study, @survey, @question], :confirm => 'Are you sure?', :method => :delete, :class=> 'btn-small btn btn-danger pull-right' %>
    
    <div class="btn-group pull-right" style="display: none;">
      <a class="btn btn-default btn-small"><i class="icon-table"></i> Excel</a>
      <a class="btn btn-default btn-small"><i class="icon-file"></i> PDF</a>
    </div>

    <a class="btn btn-default btn-small pull-right"><i class="icon-file"></i> PDF</a>
    
  </article>
  <% if is_graphable(@answers, @question) %>
    <div class="col col-sm-8">
       <h1>Chart</h1>
       <div class="" id="chart_div" style="height: 300px;"><em><i class="icon-spin icon-spinner"></i> Loading chart...</em></div>
    </div>
     <div class="col col-sm-4">
       <h1>Breakdown</h1>

      <% if @survey.kind === 'aBTest' %>

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Response</th>
              <th>A</th>
              <th>B</th>
            </tr>
          </thead>
          <tbody>
            <% @options.each do |option| %>
              <tr>
                <td><%= option %></td>
                <td><%= answer_count(@answers_answers_a, option) %></td>
                <td><%= answer_count(@answers_answers_b, option) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="row">
          <div class="col col-sm-6">
            <h3 style="background-color: blue; color: white; padding: 3px;">Image A</h3>
            <%= filepicker_image_tag @survey.filepicker_url, w: 400, fit: 'clip' %>
          </div>
          <div class="col col-sm-6">
            <h3 style="background-color: red; color: white; padding: 3px;">Image B</h3>
            <%= filepicker_image_tag @survey.filepicker_urlb, w: 400, fit: 'clip' %>
          </div>
        </div>

      <% else %>
         <table class="table table-condensed table-hover">
           <thead>
             <tr>
               <th>Response</th>
               <th>Count</th>
             </tr>
           <tbody>
               <% @options.each do |option| %>
                 <tr><td><%= option %></td><td><%= answer_count(@answers_answers, option) %></td></tr>
               <% end %>
           </tbody>
         </table>
      <% end %>
     </div>
  <% end %>
  <article class="col col-sm-12">
    <h1>All Responses</h1>
     <table class="table table-condensed table-hover">
       <thead>
         <tr>
           <th>Response</th>
         </tr>
       </thead>
       <tbody>
          <% if @answers.blank? %>
            <tr>
              <td><em>No one has answered this question yet.</em></td>
            </tr>
          <% end %>
           <% @answers.each do |answer| %>
            <tr>
              <td><%= answer.answer %></td>
            </tr>
           <% end %>
       </tbody>
     </table>
  </article>

  <% if is_graphable(@answers, @question) %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          <% if @survey.kind === 'aBTest' %>
            ['Choice', 'A', 'B'],
          <% else %>
            ['Choice', 'Responses'],
          <% end %>
            <% @options.each do |option| %>
              <% if @survey.kind === 'aBTest' %>
                ['<%= option %>', <%= answer_count(@answers_answers_a, option) %>, <%= answer_count(@answers_answers_b, option) %>],
              <% else %>
                ['<%= option %>', <%= answer_count(@answers_answers, option) %>],
              <% end %>
            <% end %>
        ]);

        // The other way around
        
        // var data = google.visualization.arrayToDataTable([
        //   <% if @survey.kind === 'aBTest' %>
        //     ['Choice'<% @options.each do |option| %>, '<%= option %>'<% end %>],
        //   <% else %>
        //     ['Choice', 'Responses'],
        //   <% end %>
        //   <% if @survey.kind === 'aBTest' %>
        //     ['A'
        //       <% @options.each do |option| %>, <%= answer_count(@answers_answers_a, option) %><% end %>
        //     ],
        //     ['B'
        //       <% @options.each do |option| %>, <%= answer_count(@answers_answers_b, option) %><% end %>
        //     ],
        //   <% else %>
        //     <% @options.each do |option| %>
        //       ['<%= option %>', <%= answer_count(@answers_answers, option) %>],
        //     <% end %>
        //   <% end %>
        // ]);

        var options = {
          title: 'Results',
          hAxis: {title: 'Responses', titleTextStyle: {color: 'black'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  <% end %>

  </article>
<% else %>
  <h1>Questions not authorized</h1>
  <p>You cannot view questions for surveys you do not own</p>
<% end %>

