h2 A/B Test
p Choose two images to test between. 50% of users will see Image A. 50% will see Image B.
p This module will only display the randomly selected image. Group this with another module to gather more data afterwards.
div.col.col-sm-6
	h3 Image A
	img(
		ng-src="{{mod.filepicker_url}}"
		style="max-width: 100%; max-height: 400px;"
		onload="$(this).next('span.loading').remove()"
	)
	span.loading(ng-show="mod.filepicker_url")
		i.icon-spin.icon-spinner
		|  Loading Image...
	div.clear
	br
	button.btn.btn-primary(
		ng-click="setModImage()"
	) Upload
div.col.col-sm-6
	h3 Image B
	img(
		ng-src="{{mod.filepicker_url_alt}}"
		style="max-width: 100%; max-height: 400px;"
		onload="$(this).next('span.loading').remove()"
	)
	span.loading(ng-show="mod.filepicker_url")
		i.icon-spin.icon-spinner
		|  Loading Image...
	div.clear
	br
	button.btn.btn-primary(
		ng-click="setModImage(true)"
	) Upload
div(style="clear: both;")
h2 Survey to follow (optional)