h2 Five Second Test
p Simply display an image for five seconds
br
p
	img(
		ng-src="{{mod.filepicker_url}}"
		style="max-width: 100%; max-height: 600px;"
		onload="$(this).next('span.loading').remove()"
	)
	span.loading(ng-show="mod.filepicker_url")
		i.icon-spin.icon-spinner
		|  Loading Image...
button.btn.btn-primary(
	ng-click="setModImage()"
)
	i.icon-picture
	|  Choose an image
