section.row.greendrop
	article.col.col-sm-12
		h1 
			i.custom-icon-survey
			|  {{thisPage.name || mod.name || modulegroup.name}}
		div(ng-show="mod.mtype!=null || modulegroup")
			a.btn.btn-default.btn-small.btn-white.pull-right#tour-preview(target="_blank" ng-href="/modulegroups/{{mod.key_module_group || modulegroup.id}}") 
				i.icon-mail-forward
				|  Preview/Share
			a.btn.btn-primary.btn-small.pull-right(
				href="#settings" 
				data-toggle="modal"
				data-remote="true"
				data-backdrop="false"
				ng-show="mod.id"
			) 
				i.icon-plus
				|  Groups