.panel.panel-warning(ng-show="mod.mtype=='fs'")
	.panel-heading 
		| {{mod.name}}
	p
		img(ng-src="{{mod.filepicker_url}}")
	p
		em 
			| (Five second tests do not gather data)
.panel.panel-warning(
	ng-show="isResultable(mod.mtype)"
	ng-repeat="question in mod.questions"
)
	.panel-heading
		| {{question.name}}
	div(ng-hide="mod.mtype=='ab'")
		ul.chart(ng-show="isGraphable(question.qtype)")
			li(ng-repeat="option in question.options")
				span(style="height: {{answersForOption(option, question.id, null, mod.id, mmg.id)}}; background-color: #5f8b00" title="{{option.name}}")
		ul.chart(ng-show="isGraphable(question.qtype)" style="height: auto;")
			li(ng-repeat="option in question.options" style="height: auto;")
				div(ng-show="option.filepicker_url")
				img(
					ng-src="{{option.filepicker_url}}" 
					style="display: block;max-width:50px; margin:0px auto;"
				)
		table.table
			thead
				tr
					th Answer
			tbody
				tr(ng-repeat="answer in question.answers | filter: {modulegroup_mod_id: mmg.id}")
					td
						| {{answer.answer}}
	div(ng-show="mod.mtype=='ab'")
		.row
			.col.col-sm-6
				img(ng-src="{{mod.filepicker_url}}" style="max-width: 100%")
			.col.col-sm-6
				img(ng-src="{{mod.filepicker_url_alt}}" style="max-width: 100%")
		.row
			.col.col-sm-6
				ul.chart(ng-show="isGraphable(question.qtype)")
					li(ng-repeat="option in question.options")
						span(style="height: {{answersForOption(option, question.id, 'A', mod.id, mmg.id)}}; background-color: hsl({{$index * 20}}, 70%, 75%)" title="{{option.name}}")
				ul.chart(ng-show="isGraphable(question.qtype)" style="height: auto;")
					li(ng-repeat="option in question.options" style="height: auto;")
						div(ng-show="option.filepicker_url")
						img(
							ng-src="{{option.filepicker_url}}" 
							style="display: block;max-width:50px; margin:0px auto;"
						)
				table.table
					thead
						tr
							th Answer
					tbody
						tr(ng-repeat="answer in question.answers | filter: {meta:'A', modulegroup_mod_id: mmg.id} ")
							td 
								| {{answer.answer}}
			.col.col-sm-6
				ul.chart(ng-show="isGraphable(question.qtype)")
					li(ng-repeat="option in question.options")
						span(style="height: {{answersForOption(option, question.id, 'B', mod.id, mmg.id)}}; background-color: hsl({{$index * 20}}, 70%, 75%)" title="{{option.name}}")
				ul.chart(ng-show="isGraphable(question.qtype)" style="height: auto;")
					li(ng-repeat="option in question.options" style="height: auto;")
						div(ng-show="option.filepicker_url")
						img(
							ng-src="{{option.filepicker_url}}" 
							style="display: block;max-width:50px; margin:0px auto;"
						)
				table.table
					thead
						tr
							th Answer
					tbody
						tr(ng-repeat="answer in question.answers | filter: {meta:'B', modulegroup_mod_id: mmg.id} ")
							td 
								| {{answer.answer}}