img(
	ng-src="{{mod.filepicker_url}}" ng-show="mod.filepicker_url && mod.mtype=='ps'"
)
br
div.panel.panel-warning(ng-show="mod.questions.length < 1")
	div.panel-heading No {{questionName()}}s found
	p
		em This module has no {{questionName()}}s.
div.panel.panel-warning.hover-grp(ng-repeat="question in mod.questions")
	div.panel-heading.editable
		span.number(ng-hide="mod.mtype=='vb'")
			| {{$index+1}}.
		span.number(ng-show="mod.mtype=='vb'")
			| •
		input.hover-edit(
			type="text" 
			ng-model="question.name"
			ng-change="sync('q', question.id + '00000002', {id: mod.id, question: question });debounce()"
			id="q-{{question.id}}"
		)
		span.controls
			i.icon-remove-sign.pull-right(
				style="margin-left: 15px; cursor: pointer;"
				ng-click="deleteQuestion(mod.id, question.id)"
			)
			i.icon-copy.pull-right.hide
	p
		select.half-cloak-hover(
			ng-model="item"
			ng-init="item = getQType(question.qtype)"
			ng-options="qtype as qtype.name for qtype in qTypes"
			ng-change="setQType(question, item.code, mod.id)"
			ng-hide="mod.mtype == 'vb'"
		)
	div(ng-show="mod.mtype == 'vb'")
		p
			input.hover-edit(
				type="text"
				placeholder="Description"
				ng-model="question.description"
				ng-change="sync('q', question.id + '00000002', {id: mod.id, question: question });debounce()"
			)

	div(ng-switch="question.qtype" ng-show="mod.mtype!='vb'")
		div(ng-switch-when="radio")
			label(ng-show="question.options.length < 1") 
				em This question has no options.
			div(ng-repeat="option in question.options" style="margin-bottom: 10px;")
				label.radio
					i.icon-remove-sign.cloak-hover(
						ng-click="deleteOption(mod.id, question.id, option.id)"
					)
					input(disabled type="radio" name="{{question.name}}" style="margin-top: 9px;")
					= image_tag "img-upload.png", :class => 'hint__bottom img-upload cloak-hover', :style => 'width: 25px;', "ng-click" => 'setOptionImage(question.id, option.id)', "data-hint" => 'Add image to question'
					input.hover-edit(
						type="text" 
						ng-model="option.name"
						ng-change="sync('o', option.id + '00000003', {id: mod.id, question: {id: question.id, option: {id: option.id, name: option.name}}});debounce()"
						id="opt-{{option.id}}"
						placeholder="Option name"
					)
				.thumbnail(ng-show="option.filepicker_url" style="cursor: default;")
					p.loading(ng-show="option.filepicker_url")
						i.icon-spin.icon-spinner
						|  Loading Image...
					img.img-option(
						ng-src="{{option.filepicker_url}}" 
						onload="$(this).prev('p.loading').remove()"
					)
					.caption.cloak-hover.pointer(
						ng-click="deleteImageOption(question.id, option.id)"
					)
						span.text-danger
							i.icon-remove-sign
							|  Delete Image
			p
				a.btn.btn-default.cloak-hover(
					ng-href="/#/mods/{{mod.id}}" 
					ng-click="addOption(question.id)"
					ng-hide="mod.mtype=='vb'"
				)
					i.icon-plus
					|   New Option
		div(ng-switch-when="checkbox")
			div(ng-repeat="option in question.options" style="margin-bottom: 10px;")
				label.checkbox
					i.icon-remove-sign.cloak-hover(
						ng-click="deleteOption(mod.id, question.id, option.id)"
					)
					input(disabled type="checkbox" style="margin-top: 9px;")
					= image_tag "img-upload.png", :class => 'hint__bottom img-upload cloak-hover', :style => 'width: 25px;', "ng-click" => 'setOptionImage(question.id, option.id)', "data-hint" => 'Add image to question'
					input.hover-edit(
						type="text" 
						ng-model="option.name"
						ng-change="sync('o', option.id + '00000003', {id: mod.id, question: {id: question.id, option: {id: option.id, name: option.name}}});debounce()"
						id="opt-{{option.id}}"
						placeholder="Option name"
					)
				.thumbnail(ng-show="option.filepicker_url" style="cursor: default;")
					p.loading(ng-show="option.filepicker_url")
						i.icon-spin.icon-spinner
						|  Loading Image...
					img.img-option(
						ng-src="{{option.filepicker_url}}" 
						onload="$(this).prev('p.loading').remove()"
					)
					.caption.cloak-hover.pointer(
						ng-click="deleteImageOption(question.id, option.id)"
					)
						span.text-danger
							i.icon-remove-sign
							|  Delete Image
			p
				a.btn.btn-default.cloak-hover(
					ng-href="/#/mods/{{mod.id}}" 
					ng-click="addOption(question.id)"
				)
					i.icon-plus
					|   New Option
		div(ng-switch-when="input")
			br
			input(type="text" placeholder="User will enter a line of text")
		div(ng-switch-when="textarea")
			br
			textarea(rows="10")
a.btn.btn-primary(
	ng-href="/#/mods/{{mod.id}}"
	ng-click="addQuestion()"
) 
	i.icon-plus 
	|    New {{questionName()}}