br
div.col.col-sm-12
	ul.nav.nav-tabs.tabs
		li
			a(
				style="cursor: pointer;" 
				ng-click="toggleMode(true)"
				ng-class="{'active': editMode}"
			) Edit
		li#tour-results
			a(
				style="cursor: pointer;" 
				ng-click="toggleMode(false)"
				ng-class="{'active': !editMode}"
				ng-show="mod.mtype=='ps' || mod.mtype=='ab' || modGroup"
			) Results
	a.text-danger(
		style="cursor: pointer; float: right; margin-top: -30px;"
		ng-show="singleMod"
		ng-click="delete(mod.id)"
	)
		i.icon-remove
		|  Delete Module
	a.text-danger(
		style="cursor: pointer; float: right; margin-top: -30px;"
		ng-show="modGroup"
		ng-click="delete()"
	)
		i.icon-remove
		|  Delete Module Group