section.row.greendrop
	article.col.col-sm-12
		h1 New Module
section.row.paneBottom(ng-controller="App.ModuleListCtrl")
	article.col.col-sm-12
		h2 Choose a module
		p Modules are small data-collecting units. These can be run as Trials either individually or combined with other modules as Collections.
		hr
	article.col.col-sm-2
		a.hint--bottom(href="#" data-hint="Gather data from text entry, radio buttons, or checkboxes") 
			image_tag "thumb-ps.png", :style => 'width: 150px;'
			p Generic Survey
	article.col.col-sm-2
		a.hint--bottom(href="#" data-hint="Show an image for five seconds to test memory and impressions") 
			img(src="http://placehold.it/100x100")
			p Five Second Test 
	article.col.col-sm-2
		a.hint--bottom(href="#" data-hint="Randomly show only one of two possible images") 
			img(src="http://placehold.it/100x100")
			p A/B Test
	article.col.col-sm-2
	article.col.col-sm-2
	article.col.col-sm-2
