= render 'greenbar'
section.row.paneBottom(ng-init="singleMod='true'")
	= render 'tabs'
	div#tab-edit.col.col-sm-12(ng-show="editMode")
		section(ng-switch="mod.mtype")
			section.row.paneBottom(
				ng-switch-when="null"
			)
				article.col.col-sm-12
					h2 Choose a module type for "{{mod.name}}"
					hr
					h3 Forms
					aside.thumbnail(
						data-hint="Create a survey with radio buttons, checkboxes, and text input"
						ng-click="setMType('ps')"
					)
						= image_tag "thumb-ps.png", :style => 'width: 150px;'
						.caption Plain Survey

					aside.thumbnail(
						data-hint="50% of users see Image 1, 50% see Image 2"
						ng-click="setMType('ab')"
					)
						= image_tag "thumb-ab.png", :style => 'width: 150px;'
						.caption A/B Test 
					aside.thumbnail(
						data-hint="Generate heat maps of where users click on your uploaded image."
					)
						= image_tag "thumb-comingsoon.png", :style => 'width: 150px;'
						.caption Click Test
					aside.thumbnail(
						data-hint="Users can vote up/down or comment on bubbles of text."
						ng-click="setMType('vb')"
					)
						= image_tag "thumb-vb.png", :style => 'width: 150px;'
						.caption Vote Bubbles

					h3 Display Only
					aside.thumbnail(
						data-hint="Show an image for five seconds"
						ng-click="setMType('fs')"
					)
						= image_tag "thumb-fst.png", :style => 'width: 150px;'
						.caption Five-Second test
					aside.thumbnail(
						data-hint="Show a page of simple text"
					)
						= image_tag "thumb-comingsoon.png", :style => 'width: 150px;'
						.caption Simple Text
					aside.thumbnail(
						data-hint="Show an image with an optional description"
					)
						= image_tag "thumb-comingsoon.png", :style => 'width: 150px;'
						.caption Simple Image
			section.row.paneBottom(
				ng-controller="App.ModuleListCtrl"
				ng-switch-when="ps"
			)
				article.col.col-sm-12
					= render "survey"
			section.row.paneBottom(
				ng-switch-when="ab"
				ng-controller="App.ModuleListCtrl"
			)
				article.col.col-sm-12
					= render "abtest"
					= render "survey"
			section.row.paneBottom(ng-switch-when="fs")
				article.col.col-sm-12
					= render "fivesecondtest"
			section.row.paneBottom(
				ng-switch-when="vb"
				ng-controller="App.ModuleListCtrl"
			)
				article.col.col-sm-12
					= render "survey"


	div#tab-results.col.col-sm-12(
		ng-hide="editMode"
	)
		h2 Results
		p Responses gathered for any Module Group containing this Module should be found on the results tab of that Module Group instead.
		div(ng-repeat="mmg in modulegroup_mods")
			div(ng-init="mod=modulegroup_mod_mods(mmg.id)")
			= render 'mod_detail_responses'


section.modal#settings
  .modal-dialog
    .modal-content
		.modal-header
		  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
		  h4.modal-title Add to module group(s)
		.modal-body
			p
				a(style="cursor: pointer;" ng-click="createModulegroup()")
					i.icon-plus
					|  Create Group
			hr
			ul.list-unstyled
				li(
					ng-repeat="mg in modulegroups"
					style="margin: 10px 0px"
				)
					a.hint--top(
						data-hint="Add to this Module Group"
						style="cursor: pointer;"
						ng-click="addModToModgroup(mg.id)"
					)
						i.icon-plus
					|  {{mg.name}}
					ul(style="list-style: none")
						li(
							ng-repeat="mgmod in mg.mods"
							style="margin: 10px 0px"
						)
							a.hint--top(
								data-hint="Remove from module group"
								style="cursor: pointer;"
								ng-click="removeModFromModgroup(mg.id, mgmod.id)"
							)
								i.icon-remove-sign
							|  {{mgmod.name}}