div(id="piece-#{mod.id}")
	.instructions
		h1 Five-second test
		p We will show you an image for five seconds. It will then disappear and you can continue to the next module.
		button.btn.btn-primary.fs-showImage Show image
		p
	img.fs-image(
		src="#{mod.filepicker_url}"
		style="margin: 0px auto; display: none;"
	)

javascript:
	$("#piece-#{mod.id} .fs-showImage").click(function() {
		$("#piece-#{mod.id} .instructions").hide()
		$("#piece-#{mod.id} .fs-image").fadeIn()
		setTimeout(function() {
			mg.advance()
		}, 5500)
	})
