div(id="piece-#{mod.id}-#{mmg.id}")

	- if mod.mtype == 'ab'
		- if [true, false].sample
			img(src="#{mod.filepicker_url}" style="display: block;")
			br
			javascript:
				var meta = 'A'
		- else
			img(src="#{mod.filepicker_url_alt}" style="display: block;")
			br
			javascript:
				var meta = 'B'

	ol.spacious
		- mod.questions.each do |question|
			li(data-qid="#{question.id}") 
				| #{question.name}
				- case question.qtype
				- when 'radio'
					ul.unstyled.piece-mod-question(data-qtype="radio")
						- question.options.each do |option|
							li
								label.radio
									input(type="radio" name="q-#{question.id}" class="q-#{question.id}" value="#{option.name}#{option.filepicker_url}")
									|  #{option.name}
									- if option.filepicker_url.present?
										br
										p(class="loader-#{option.id}")
											em Loading Image...
										img.img-option(src="#{option.filepicker_url}" style="margin-bottom: 20px;" onload="$('.loader-#{option.id}').hide()")
				- when 'checkbox'
					ul.unstyled.piece-mod-question(data-qtype="checkbox")
						- question.options.each do |option|
							li
								label.checkbox
									input(type="checkbox" name="q-#{question.id}" class="q-#{question.id}" value="#{option.name}#{option.filepicker_url}")
									|  #{option.name}
									- if option.filepicker_url.present?
										br
										p(class="loader-#{option.id}")
											em Loading Image...
										img.img-option(src="#{option.filepicker_url}" style="margin-bottom: 20px;" onload="$('.loader-#{option.id}').hide()")
				- when 'input'
					p.piece-mod-question(data-qtype="input")
						br
						input(type="text" class="q-#{question.id}")
				- when 'textarea'
					p.piece-mod-question(data-qtype="textarea")
						br
						textarea(rows="10" class="q-#{question.id}")
	.controls
		button.btn.btn-primary.pull-right.continue Continue
		button.btn.btn-default.pull-right.loading(style="display: none;" disabled)
			i.icon-spin.icon-spinner
			|  Submitting... 

	javascript:
		/* After hitting continue and all responses are validated, a responseSet array of answer objects is created and sent to modulegroups.js to be parsed and ajaxed as individual answers. */

		$('#piece-#{mod.id}-#{mmg.id} .controls').on('click', '.continue', function() {

			var submitButton
			var submitButtonOn = function() {
				if (typeof meta !== 'undefined') mg.setMeta(meta)
				submitButton = $('#piece-#{mod.id}-#{mmg.id} .continue').detach()
				$('#piece-#{mod.id}-#{mmg.id} .loading').show()
			}
			var submitButtonOff = function() {
				submitButton.appendTo('#piece-#{mod.id}-#{mmg.id} .controls')
				$('#piece-#{mod.id}-#{mmg.id} .loading').hide()
			}
			submitButtonOn()
			$('.alert').remove()

			// Loop over questions
			var responseSet = []
			var allResponsesValid = true
			for(var q = 0; q < $('#piece-#{mod.id}-#{mmg.id} .piece-mod-question').length || (function(){console.log(allResponsesValid);mg.allResponsesValid = allResponsesValid;mg.parseAnswerArray(responseSet)})(); q++) {
				qid = $($('#piece-#{mod.id}-#{mmg.id} .piece-mod-question')[q]).parent().attr('data-qid')
				var obj = function(answer) {
					this.qid = qid
					this.mmgid = #{mmg.id}
					this.modid = #{mod.id}
					this.answer = answer
				}
				var setResponseSet = function(obj, allowBlanks) {
					console.log('PARSING')
					console.log(obj)
					if ((obj.answer && obj.answer != '') || allowBlanks) { 
						if (obj.answer && obj.answer != '') responseSet.push(obj)
						$('#piece-#{mod.id}-#{mmg.id} li[data-qid="' + obj.qid + '"]').remove()
						q--
					}
					else {
						allResponsesValid = false
						$('li[data-qid="' + obj.qid + '"]').prepend('<p class="alert alert-danger">Please supply a response</p>')
						submitButtonOff()
						console.log('invalid response found')
						console.log(obj)
					}
				}
				switch ($($('#piece-#{mod.id}-#{mmg.id} .piece-mod-question')[q]).attr('data-qtype')) {
					case 'radio': 
					setResponseSet(new obj(
						$('#piece-#{mod.id}-#{mmg.id} .piece-mod-question input[type="radio"]:checked.q-' + qid).val()
					))
					break;

					case 'checkbox':
					for(var ch = 0; ch < $('#piece-#{mod.id}-#{mmg.id} .piece-mod-question input[type="checkbox"]:checked').length || function() { setResponseSet(new (obj), true) }(); ch++) {
						setResponseSet(new obj(
							$($('#piece-#{mod.id}-#{mmg.id} .piece-mod-question input[type="checkbox"]:checked.q-' + qid)[ch]).val()
						), true)
					}
					break;

					case 'input':
						setResponseSet(new obj(
							$('#piece-#{mod.id}-#{mmg.id} .piece-mod-question input[type="text"].q-' + qid).val()
						))
					break;

					case 'textarea':
						setResponseSet(new obj(
							$('#piece-#{mod.id}-#{mmg.id} .piece-mod-question textarea.q-' + qid).val()
						))
					break;
				}
			}
			return false;
		})
