javascript:
	var votebubble = function(operation, id, self, write) {
		var getScore = function() { return parseInt($('#score-hidden-' + id).val()) }
		var setScore = function(score) { $('h1#score-' + id).html(score) }
		var upButton = $('#score-up-' + id)
		var downButton = $('#score-down-' + id)
		var count = 0
		switch(operation) {
			// TODO arrows should only be colored if the user has set the number down/up.
			case 'up': 
			$(self).toggleClass('active')
			$(downButton).removeClass('active')
			count = ( $(self).hasClass('active') ? 1 : 0 )
			if (write) { mg.submitAnswer(count, #{mmg.id}, #{mod.id}, id, 1) }
			break;

			case 'down':
			$(self).toggleClass('active')
			$(upButton).removeClass('active')
			count = ( $(self).hasClass('active') ? -1 : 0 )
			if (write) mg.submitAnswer(count, #{mmg.id}, #{mod.id}, id, 1)
			break;
		}
		setScore(count + getScore())
		console.log('Count: ' + count)
		console.log('getScore(): ' + getScore())
	}

div(id="piece-#{mod.id}-#{mmg.id}")
	- mod.questions.each do |question|
		aside.bubble
			.bubble-vote
				button.bubble-vote-arrow.bubble-vote-arrow_up(
					id="score-up-#{question.id}"
					onclick="votebubble('up', '#{question.id}', $(this), true)"
				)
				h1.bubble-vote-score(id="score-#{question.id}") 
					| = question.count_score
				input(type="hidden" value="#{question.count_score}" id="score-hidden-#{question.id}")

				button.bubble-vote-arrow.bubble-vote-arrow_down(
					id="score-down-#{question.id}"
					onclick="votebubble('down', '#{question.id}', $(this), true)"
				)
			.bubble-heading = question.name
			.bubble-body = question.description

		- subCount = question.count_score
		- question.answers.each do |answer|
			javascript:
				var setInitialState = function(subCount) {
					console.log(subCount)
					var scoreCounter = $('h1#score-' + #{question.id})
					$(scoreCounter).html(subCount)
					$('#score-hidden-' + #{question.id}).val(subCount)
					if (#{answer.answer} == '1') { votebubble('up', #{question.id}, $('#score-up-#{question.id}')) }
					if (#{answer.answer} == '-1') { votebubble('down', #{question.id}, $('#score-down-#{question.id}')) }
				}
			- subCount = question.count_score - (answer.answer).to_i
			- if user_signed_in?
				- if answer.user_id == current_user.id
					javascript:
						setInitialState('#{subCount}')
			- else
				- if answer.ip == @ip
					javascript:
						setInitialState('#{subCount}')

	hr
	.controls
		button.btn.btn-primary.pull-right.continue Continue
		button.btn.btn-default.pull-right.loading(style="display: none;" disabled)
			i.icon-spin.icon-spinner
			|  Submitting... 