= render 'mods/greenbar'
section.row.paneBottom(ng-init="modGroup='true'")
	= render 'mods/tabs'
	div#tab-edit.col.col-sm-12(ng-show="editMode")
		h2 Modules in this group
		p
			select(
				style="display: inline-block; max-width: 150px; margin-right: 5px;"
				ng-model="modulegroup.selectedMod"
				ng-options="mod.id as mod.name for mod in mods"
			)
			a.btn.btn-small.btn-primary(
				ng-click="addModToModgroup(modulegroup.selectedMod)"
			)
				i.icon-plus
				|  Add
		table.table.hover-grp
			thead
				tr
					th(style="width: 70%") Name
					th(colspan="2") Type
			tbody
				tr(ng-repeat="mod in modulegroup.mods")
					td
						| {{mod.name}}
					td(ng-switch="mod.mtype")
						span(ng-switch-when="ps") Plain Survey
						span(ng-switch-when="fs") Five Second Test
						span(ng-switch-when="ab") A/B Test
						span(ng-switch-when="vb") Vote Bubbles 
					td.cloak-hover
						a.pointer(
							ng-click="removeModFromModgroup(mod.id)"
						)
							i.icon-remove-sign
							|  Delete
	div#tab-results.col.col-sm-12(ng-hide="editMode")
		h2 Results
		div(ng-repeat="mmg in modulegroup_mods")
			div(ng-init="mod=modulegroup_mod_mods(mmg.id)")
			= render 'mods/mod_detail_responses'