- @auth = user_authorized(@modulegroup, @ip)
- if ( @auth[:authorized] == 'true' || @auth[:authorized] == 'special' )
	- if @auth[:authorized] == 'special'
		.well
			h4 Share
			p Viewers will not see this box.
			h5 Share this module/module group on...
			a.hint--bottom(data-hint="Facebook" href="http://www.facebook.com/sharer.php?u=http://lab95.com/modulegroups/#{@modulegroup.id}" target="_blank")
				= image_tag('facebook.png', :style => "width: 32px")
			a.hint--bottom(data-hint="Twitter" href="http://twitter.com/share?url=http://lab95.com/modulegroups/#{@modulegroup.id}" target="_blank")
				= image_tag('twitter-bird.png', :style => "width: 32px")
			a.hint--bottom(data-hint="LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Flab95.com%2Fmodulegroups%2F#{@modulegroup.id}&title=Lab95&summary=Assist%20me%20with%20my%20data-collection%20on%20Lab95.com" target="_blank")
				= image_tag('linkedin.png', :style => "width: 32px")
			a.hint--bottom(data-hint="Google Plus" href="https://plus.google.com/share?url=http%3A%2F%2Flab95.com%2Fmodulegroups%2F#{@modulegroup.id}" target="_blank")
				= image_tag('google-plus.png', :style => "width: 32px")
			a.hint--bottom(data-hint="Email" href="mailto:?Subject=Lab95 Data Collector&Body=Just%20made%20this%20data%20collector%20on%20Lab95%20 http://lab95.com/modulegroups/#{@modulegroup.id}" target="_blank")
				= image_tag('mail.png', :style => "width: 32px")
	p
		.progress.progress-success
			.bar(width="0%")
	hr
	#loading
		h1
			i.icon-spin.icon-spinner
			|  Loading...
	javascript: 
		App.totalMods = #{@modulegroup_mods.length}
	- @modulegroup_mods.each do |mmg|
		.piece
			- case mmg.mod.mtype 
			- when 'ps'
				= render 'survey', :mod => mmg.mod, :modulegroup => @modulegroup, :mmg => mmg
			- when 'fs'
				= render 'fivesecondtest', :mod => mmg.mod
			- when 'ab'
				= render 'survey', :mod => mmg.mod, :modulegroup => @modulegroup, :mmg => mmg
			- when 'vb'
				= render 'votebubble', :mod => mmg.mod, :modulegroup => @modulegroup, :mmg => mmg
	.piece
		h1 Modules complete. Thank you for participating.
- else
	div.alert.alert-danger
		h2  
			i.icon-lock
			|  Not authorized.
		p #{@auth[:message]}