<section class="container">
  <section id="main">
    <article class="col col-sm-4 col-offset-4">
      <h1 style="font-size: 30pt;line-height: normal; font-family: 'Neo Sans W01 Light';">Lab95</h1>
      <h1>Edit <%= resource_name.to_s.humanize %></h1>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <label><%= f.label :email %></label>
        <%= f.email_field :email, :autofocus => true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p class="help-block">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <br />

        <label><%= f.label :password %></label>
        
        <%= f.password_field :password, :autocomplete => "off" %>
        <p class="help-block">(leave blank if you don't want to change it)</p><br />

        <label><%= f.label :password_confirmation %></label>
        <%= f.password_field :password_confirmation %><br>

        <label><%= f.label :current_password %></label>
        <%= f.password_field :current_password %>
        <p class="help-block">(we need your current password to confirm your changes)</p>
        <br />

        <p><%= f.submit "Update", :class => 'btn btn-primary' %></p>
      <% end %>

      <br />
      <p><%= link_to "Back", :back %></p>

      <br />
      <p><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'pull-right' %></p>


    </article>
  </section>
</section>