<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<div class="modal-body">
		<h1 style="font-size: 30pt;line-height: normal; font-family: 'Neo Sans W01 Light';">Lab95</h1>
  	<h1>Sign up</h1>
	  <%= devise_error_messages! %>

	  <label><%= f.label :email %></label>
	  <%= f.email_field :email, :autofocus => true %><br />

	  <label><%= f.label :password %></label>
	  <%= f.password_field :password %><br />

	  <label><%= f.label :password_confirmation %></label>
	  <%= f.password_field :password_confirmation %><br />
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col col-sm-6" style="text-align: left;">
				<%= render "devise/shared/links" %>
			</div>
			<div class="col col-sm-6">
			  <div><%= f.submit "Sign up", :class => 'btn btn-primary' %></div>
			</div>
		</div>
	</div>
<% end %>