<ul class="list list-unstyled">
<%- if controller_name != 'sessions' %>
  <li>
  	<a href="#" data-modal-key="signIn" data-toggle="modal" id="signin">Sign In</a>
  </li>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li>
  	<a href="#" data-modal-key="signUp" data-toggle="modal" id="signup">Sign Up</a>
  </li>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
  <% end -%>
<% end -%>
</ul>

<script>
$('#signin, #signup').click(function() {
	foundKey = $(this).attr('data-modal-key')
	getModalData(foundKey)
})
</script>