.blackdrop { background-color: #444; }
.whitedrop { 
   background-color: #FFF; 
   min-height: 800px;
   overflow: visible;
}
.greendrop {
   background-color: @officialGreen;
   h1 { 
      color: white; 
      float: left;
   }
   a.btn.btn-small { 
      margin-top: 7px; 
      &.btn-white {
         color: #222;
         background-color: white;
         border: 1px solid darken(@officialGreen, 5%);
      }
   }
}
.badge {
   background-color: @officialGreen;
}

.hover-grp .cloak-hover                         { .transition(opacity 0.3s); }
.hover-grp:hover .hover-grp .show-hover         { display: none; }
.hover-grp:hover .hover-grp:hover .show-hover   { display: block; }

.paneTop {
   height: 175px;
   border-bottom: 3px solid #DDD;
   overflow-y: scroll;
   table tr { cursor: pointer; }
}
.panel {
   .panel-heading {
      font-size: 12px;
      padding: 5px 10px;
   }
}

@sidebar-base-color: @gray-darker;
@greenOnBlack: desaturate(lighten(@officialGreen, 20%), 20%);
#loader {
   position: absolute;;
   top: 10px;
   color: white;
   background-color: @officialGreen;
   z-index: 2000;
   .border-radius(15px);
   width: 25px;
   height: 25px;
   padding: 4px 7px;
}
.btn.pull-right { margin-left: 15px; }
.sidebar {
   a { text-decoration: none !important; }
   background-color: @sidebar-base-color;
   .sidebar-brand {
      font-family: @brand-font-family;
      text-align: left;
      line-height: normal;
      font-size: 17pt;
      text-shadow: 1px 1px 0px #555;
      color: @greenOnBlack;
      margin: 10px 15px;
      a { color: @greenOnBlack; }
      small a {
         color: white;
         font-size: 12px;
         margin-right: 10px;
      }
   }
   .sidebar-toolbar {
      background-color: #222222;
      padding: 0px;
      padding-left: 15px;
      h1 {
         text-transform: uppercase;
         font-size: 14px;
         display: inline-block;
         margin: 5px 0px;
         font-family: @brand-font-family_regular;
         color: white;
      }
      .sidebar-toolbar-item {
         padding: 5px;
         float: right;
         color: white;
      } 
   }
   .sidebar-tree {
      margin: 0;
      list-style: none;
      padding: 0px; 
      #delete {
         margin: 8px 5px;
         color: @greenOnBlack;
         position: absolute;
         cursor:pointer;
      }
      .sidebar-tree-item {
         display: block;
         padding: 5px 15px;
         color: @greenOnBlack;
         cursor: text;
         background-color: transparent;
         border: 0px;
         i.icon-plus, i.icon-remove { cursor: pointer; }
         &.sidebar-tree-item__title { 
           color: #CCC; 
           cursor: default;
         }
         .border-radius(0px);
         min-height: 0px;
         height: auto;
         border-color: transparent;
         &.active { 
            background-color: darken(@officialGreen, 5%); 
            outline: 0px;
            .box-shadow(0px);
         }
         &:focus
         , &:focus:hover
         , &.active:hover {
            background-color: white;
            color: #222;
         }
         &:hover             { background-color: darken(@sidebar-base-color, 3%); }
      }
   }
}

// Modal

.modal-trigger { cursor: pointer; }

// Typography

h1
, h2
, h3
, h4
, h5 { 
   font-family: @brand-font-family_regular; 
   line-height: 18px;
}
strong { 
  font-family: @font-family-sans-serif_bold; 
  // font-weight: normal;
  font-weight: strong;
}
em { 
   font-family: @font-family-sans-serif_italic; 
   font-style: normal;
}
label { font-weight: normal; }

.navbar-brand { 
   font-family: @brand-font-family; 
   line-height: 19px;
   padding: 7px;
}
body.sidebar .navbar {
   .navbar-toggle { 
      padding: 5px 12px;
      top: 4px !important;
      &.pull-left { 
         padding: 3px 16px;
         top: 4px;
         span { line-height: 8px; }
      }
   }
}

h1 { 
   font-size: 18px;
   &.big-heading {
      font-size: 25pt; 
      line-height: normal;
      font-family: @brand-font-family;
   }
}
h2
, h3
, h4
, h5 { 
   font-size: 16px; 
}

select { height: 20px; }