//
// Variables
// --------------------------------------------------

// Actual Facebook colors
@officialGreen: 					#5F8B00;
@darkText: 							#333333;
@midText: 							#808080;
@lightText: 						#646464;
@secondaryGreen:					#719E10;
@offWhite:							#F2F2F2;
@lightGray:							#E2E2E2;

@panel-border-radius:         		0px;

// Global values
// --------------------------------------------------


// Grays
// -------------------------

@gray-darker:            @darkText; 
@gray-dark:              #222222; 
@gray:                   @lightText; 
@gray-light:             @lightGray; 
@gray-lighter:           @offWhite; 

// Brand colors
// -------------------------

@brand-primary:         @officialGreen;
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif:   'HelveticaNeueETW01-55Rg', "lucida grande", tahoma, verdana, arial, sans-serif; 
@font-family-sans-serif_italic: 'HelveticaNeueETW01-56It', "lucida grande", tahoma, verdana, arial, sans-serif;
@font-family-sans-serif_bold: 'HelveticaNeueETW01-75Bd', "lucida grande", tahoma, verdana, arial, sans-serif;

@brand-font-family:  'Neo Sans W01 Light', 'Frutiger LT Std', 'Frutiger', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@brand-font-family_regular:  'Neo Sans W01', 'Frutiger LT Std', 'Frutiger', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-size-base:          12px;

// Navbar
// -------------------------

@navbar-bg:                        @lightGray; 
@navbar-inverse-bg:                         @officialGreen; 
@navbar-height:                     30px;
