.col.col-sm-12.whitedrop
	- if current_user.level >= 5
		= render 'layouts/heading', :heading_text => 'User Management', :back_button => true
		table#dt.table
			thead
				tr
					th(colspan="2") Email
					th Level
					th Confirmed
			tbody
				- @users.each do |user|
					tr
						td
							a(href="/users/#{user.id}/edit") = user.email
						td
							a(href="/ghost/#{user.id}") [GHOST]
						td = user.level
						td
							- if !user.confirmed_at.nil?
								i.icon-ok
	- else
		h1 Not authorized
