<% if current_user.level >= 5 %>
  <div class="col col-sm-4 col-offset-4">
  <%= render 'layouts/heading', :heading_text => 'Edit User', :back_button => true %></h1>
  <%= form_for @user, :url => { :action => :update } do |f| %>
    <% if @user.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this survey from being saved: </h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <label>Email</label>
    <%= f.text_field :email %>

    <br>
    <label>Level</label>
    <%= f.text_field :level %>

    <br>
    <input type="submit" class="btn btn-primary" value="Save" />
    <p class="help-block">Saving will confirm the user's account.</p>

  <% end %>
  </div>
<% else %>
  <div class="col col-sm-12">
    <h1>Not authorized.</h1>
  </div>
<% end %>