.hover-grp {
  .show-hover 	{ display: none; }
  .cloak-hover	{ 
    zoom: 1; // IE 7-
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; 
  }
  .half-cloak-hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5; 
  }
  &:hover {
    .hide-hover 	{ display: none; }
    .show-hover 	{ display: inherit; }
    .cloak-hover
    , .half-cloak-hover 	{
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
      filter: alpha(opacity=1);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; 
    }
  }
}

// Thanks http://css-tricks.com/css-transparency-settings-for-all-browsers

html.lt-ie8 {
  .hover-grp {
    &:hover { .show-hover 	{ display: inline-block; } }
  }
}
