@kochaniconPath: '/assets';

@font-face {
  font-family: 'kochanicon';
  src: url('@{kochaniconPath}/kochanicon-webfont.eot');
  src: url('@{kochaniconPath}/kochanicon-webfont.eot?#iefix') format('embedded-opentype'),
    url('@{kochaniconPath}/kochanicon-webfont.woff') format('woff'),
    url('@{kochaniconPath}/kochanicon-webfont.ttf') format('truetype'),
    url('@{kochaniconPath}/kochanicon-webfont.svgz#kochanicon') format('svg'),
    url('@{kochaniconPath}/kochanicon-webfont.svg#kochanicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="custom-icon-"]:before,
[class*="custom-icon-"]:before {
  font-family: kochanicon;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}



a [class^="custom-icon-"],
a [class*=" custom-icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
.custom-icon-large:before {
  vertical-align: middle;
  font-size: 4/3em;
}

.btn, .nav-tabs {
  [class^="custom-icon-"],
  [class*=" custom-icon-"] {
  /* keeps button heights with and without icons the same */
    line-height: .9em;
  }
}

li {
  [class^="custom-icon-"],
  [class*=" custom-icon-"] {
    display: inline-block;
    // width: 1.25em;
    text-align: center;
  }
  .custom-icon-large,
  .custom-icon-large {
    /* 1.5 increased font size for custom-icon-large * 1.25 width */
    width: 1.5*1.25em;
  }
}

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;

  li {
    [class^="custom-icon-"],
    [class*=" custom-icon-"] {
      width: .8em;
    }
    .custom-icon-large:before,
    .custom-icon-large:before {
      /* 1.5 increased font size for custom-icon-large * 1.25 width */
      vertical-align: initial;
//      width: 1.5*1.25em;
    }
  }
}

.custom-icon-bell:before                { content: "\0021"; }
.custom-icon-lock:before                { content: "\0022"; }
.custom-icon-copy:before                { content: "\0023"; }
.custom-icon-mail:before                { content: "\0024"; }
.custom-icon-group:before               { content: "\0025"; }
.custom-icon-edit:before                { content: "\0026"; }
.custom-icon-corner-down:before                { content: "\0027"; }
.custom-icon-corner-up:before                  { content: "\0028"; }
.custom-icon-corner-left:before                { content: "\0029"; }
.custom-icon-corner-right:before               { content: "\002A"; }
.custom-icon-doc:before                 { content: "\002B"; }
.custom-icon-warning:before             { content: "\002C"; }
.custom-icon-question:before            { content: "\002D"; }
.custom-icon-save:before                { content: "\002E"; }
.custom-icon-pin:before                 { content: "\002F"; }
.custom-icon-unpin:before               { content: "\0030"; }
.custom-icon-repeat:before              { content: "\0031"; }
.custom-icon-filter:before              { content: "\0032"; }
.custom-icon-eye:before                 { content: "\0033"; }
.custom-icon-categories:before          { content: "\0034"; }
.custom-icon-flag:before                { content: "\0035"; }
.custom-icon-drive:before                { content: "\0036"; }
.custom-icon-upload:before              { content: "\0037"; }
.custom-icon-download:before            { content: "\0038"; }
.custom-icon-study:before              { content: "\0039"; }
.custom-icon-survey:before               { content: "\003A"; }
.custom-icon-wrench:before              { content: "\003B"; }
.custom-icon-cogs:before                { content: "\003C"; }
.custom-icon-loop:before                { content: "\003D"; }
.custom-icon-plus-sign:before                { content: "\003E"; }
.custom-icon-pdf:before                 { content: "\003F"; }
.custom-icon-excel:before               { content: "\0040"; }
.custom-icon-user:before                { content: "\0041"; }
.custom-icon-user-group:before          { content: "\0042"; }
.custom-icon-firm:before                { content: "\0043"; }
.custom-icon-firm-group:before          { content: "\0044"; }
.custom-icon-folder:before              { content: "\0045"; }
.custom-icon-folder-open:before         { content: "\0046"; }
.custom-icon-question:before         				{ content: "\0047"; }
.custom-icon-blank:before         			{ content: "\0048"; }




