nav.mainHeader {
  &.mainHeader__light { background-color: #CCC; }
  background-color: #333;
  padding: 0px 5px;
  margin-bottom: 0px;
  a.mainHeader-logo {
    display: inline-block;
    img {
      height: 30px;
      vertical-align: middle;
    }
    margin-right: 15px;
  }
  ul { // Reset
    margin: 0px;
    padding: 0px;
    list-style: none;
    a { 
      cursor: pointer; 
      font-family: helvetica;
      font-size: 10pt;
      color: #EEE;
      &:hover { color: #333; }
    }
  }
  ul.mainHeader-menu {
    display: inline-block;
    li.mainHeader-menu-item {
      display: inline-block; 
      &.clicked {
        li.mainHeader-menu-item-menu-item { display: block;}
      }
      a {
        display: block;
        padding: 3px 10px;
        text-decoration: none;
        &:hover { background-color: #EEE; }
        &:active { background-color: #DDD; }
      }
      &.mainHeader-menu-item__parent {
        a {
          padding-right: 10px; // Make up for arrow 
        }
        .mainHeader-menu-item-menu {
          display: none;
          position: absolute;
          background-color: white;
          min-width: 150px;
          .mainHeader-menu-item-menu-item {
            a {
              padding-top: 3px;
              padding-bottom: 3px;
            }
          }
        }
        &.clicked {
          .mainHeader-menu-item-menu {
            display: block;
          }
        }
      }
    }
  }
}