// STICKY FOOTER
// =============
// Based on work from http://ryanfait.com/sticky-footer

@footerHeight: 60px; // Just set this and the rest is taken care of.

html,
body {
 height: 100%;
 /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.sf-wrapper {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 /* Negative indent footer by its height */
 margin: 0 auto -@footerHeight;
}

/* Set the fixed height of the footer here */
.push,
.footer {
  height: @footerHeight;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
 #footer {
   margin-left: -20px;
   margin-right: -20px;
   padding-left: 20px;
   padding-right: 20px;
 }
}
