h1 Creating a module
p Modules are units that collect data or present information to a user.
p Create a module in the left pane under "Modules". You will then be asked to choose which module you'd like to create.
h1 Grouping modules
p Modules can be grouped to create chained data collection forms. Simply create a new Module Group and add modules to it.
h1 Sharing modules/modulegroups
p Click "Preview/Share" on any Module or Module Group to access sharing options above a preview of how your module will appear to visitors.
h1 Viewing results
p Lab95 will automatically group results of your Module or Module Group in the results page. Keep in mind, results are respective to either the Module or Module Group from which they were published. This means results for a Module Group with Modules A and B will be visible in that Module Group but not in the results for A or B themselves. 
p This is to allow you to run different trials of your Modules and test with different groupings if you prefer.