- if user_signed_in?
	article.col.col-sm-3.sidebar(style="min-height: 800px; z-index: 2;position: static;")
		div#loader.hide
			i.icon-spinner.icon-spin
		section.sidebar.hover-grp(style="margin: 0px -15px")
			h1.sidebar-brand 
				a(href="/") Lab95
				br
				small 
					a(href="#") = current_user.email
					a#logout.cloak-hover(href="#") Logout
					a.cloak-hover(href="/users/edit") Account
				- if current_user.level >= 5
					br
					small
						a(href="/users/all") [ADMIN]
			div(ng-controller="App.ModuleListCtrl")
				nav.sidebar-toolbar
					h1 
						| Modules 
					a(
						href="#"
						style="color: white;"
						ng-click="create()"
					)
						i.cloak-hover.icon-plus.pull-right(style="margin-top: 8px;margin-right: 10px;")
					a.pointer(
						style="color: white;"
						ng-click="toggleModSearch()"
					)
						i.cloak-hover.icon-search.pull-right#toggle-search-mods(style="margin-top: 8px;margin-right: 10px;")
				input(
					ng-model="modQuery"
					ng-show="modSearch"
				)
				nav#tour-modules
					p(ng-hide="mods.length > 0")
						em No Modules found
					ul.sidebar-tree
						li.hover-grp(ng-repeat="mod in mods | filter:modQuery")
							input.sidebar-tree-item(
								type="text"
								ng-model="mod.name"
								ng-click="setThisModMenuItem(mod.id, mod.name)"
								ng-class="{'active':'m' + mod.id == thisMenuItem.id }"
								id="mod-{{mod.id}}"
								ng-change="sync('m', mod.id + '00000001', {id: mod.id, name: mod.name});debounce();thisPage.name = mod.name"
								style="padding-left: 25px;"
							)
					ul.sidebar-tree
						li
							a.pointer.sidebar-tree-item.cloak-hover(
								style="font-style: italic" 
								href="#"
								ng-click="create()" 
							)
								i.icon-plus
								|  New Module
				nav.sidebar-toolbar
					h1 
						| Module Groups 
					a(
						href="#" 
						style="color: white;"
						ng-click="createModulegroup()"
					)
						i.cloak-hover.icon-plus.pull-right(style="margin-top: 8px;margin-right: 10px;")
					a.pointer(
						style="color: white;"
						ng-click="toggleMgSearch()"
					)
						i.cloak-hover.icon-search.pull-right#toggle-search-collections(style="margin-top: 8px;margin-right: 10px;")
				input(
					ng-model="mgQuery"
					ng-show="mgSearch"
				)
				nav#tour-mgs
					p(ng-hide="modulegroups.length > 0")
						em No Module Groups found
					ul.sidebar-tree
						li.hover-grp(ng-repeat="mg in modulegroups | filter:mgQuery")
							input.sidebar-tree-item(
								type="text"
								ng-model="mg.name"
								ng-click="setThisMgMenuItem(mg.id, mg.name)"
								ng-class="{'active':'mg' + mg.id == thisMenuItem.id }"
								id="mg-{{mg.id}}"
								ng-change="sync('mg', mg.id + '00000001', {id: mg.id, name: mg.name});debounce();thisPage.name = mg.name"
								style="padding-left: 25px;"
							)
					ul.sidebar-tree
						li
							a.pointer.sidebar-tree-item.cloak-hover(
								style="font-style: italic" 
								href="#"
								ng-click="createModulegroup()" 
							)
								i.icon-plus
								|  New Module Group
	article.col.col-sm-9.whitedrop.hover-grp(ng-view style="position: static;")
- else
	article.col.col-sm-12.whitedrop(style="position: static;")
		- if notice.present?
			.row
				.col.col-sm-6.col-offset-3
					.alert.alert-info(style="margin-top: 25px;")
						strong Notice
						br
						| #{notice}
		h1(style="text-align: center;") Lab95
		p(style="text-align: center;") A suite of small tools for rapid data-collection
		hr
		p(style="text-align: center;")
			a.btn.btn-primary(href="/users/sign_in")
				i.icon-key
				|  Login to Alpha
			a.btn.btn-default(href="/users/sign_up" style="margin-left: 5px;") Sign up
		article.col.col-sm-8.col-offset-2(style="padding-top: 150px;")
			h2 Granularized data collection tools for professionals
			p Lab95 is a fast and productive dashboard to run data-collection studies. We are primarily targeting professionals in the medical, UX, and marketing industries to provide small fast tools to rapidly test and analyze data.

			h2 What we provide today
			p Although the site you see today is a simple alpha, Lab95 is built to work fast and scale easily with the massive data needs of our customers.

			p Today, we offer three products and we aim to build countless more as we hear more from our users.

			h2 Plain Surveys

			p As the name implies, these are barebone surveys. Each question you create automatically generates a chart to summarize the collected data.

			h2 Five second tests

			p Upload an image to display to the user for five seconds. After the five seconds have elapsed, the user is presented with survey questions you provide.

			h2 AB Tests

			p Compare the survey results of two different images. This is great for testing two slightly different designs. Each survey participant is shown only one or the other image (A or B) and each group gets the same set of questions.
