      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 20px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      } 

      .page-header.main {
        border-bottom: 0px;
        margin-bottom: 0px;
      }
      .page-header.main a {
        color: #222;
      }

      .panel .img-thumbnail {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .panel-heading ul { margin-bottom: 0; }