// BLOCKS

.piece { 
   display: none; 
   margin-bottom: 25px;
   overflow: hidden;
}
.bubble {
   border: 1px solid #EEE;
   padding: 10px;
   border-radius: 5px;
   overflow: hidden;
   margin-bottom: 15px;
   .bubble-heading {
      font-weight: bold;
   }
   .bubble-vote {
      width: 100px;
      float: left;
   }
   .bubble-vote-arrow
   , .bubble-vote-score {
      display: block;
      margin: 0px auto;
      text-align: center;
   }
   .bubble-vote-score { margin: 10px inherit; }
   .bubble-vote-arrow { 
      width: 25px;
      height: 25px;
      background: none;
      border: 0px;
      opacity: 0.5;
      background-size: 25px 25px;
      &:hover { opacity: 1; }
      &.bubble-vote-arrow_up { 
         background-image: url('/assets/arrow-up_inactive.png');
         &.active { background-image: url('/assets/arrow-up.png') }
      }
      &.bubble-vote-arrow_down { 
         background-image: url('/assets/arrow-down_inactive.png');
         &.active { background-image: url('/assets/arrow-down.png') }
      }
   }
}
.spacious {
   li { 
      margin-top: 10px;
      margin-bottom: 10px;
   }
   > li {
      margin-bottom: 50px;
   }
}