<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="modal-body">
	<h1 style="font-size: 30pt;line-height: normal; font-family: 'Neo Sans W01 Light';">Lab95</h1>
	<h1>Sign in</h1>

		  <label><%= f.label :email %></label>
		  <%= f.email_field :email, :autofocus => true %><br>

		  <br />
		  <label><%= f.label :password %></label>
		  <%= f.password_field :password %><br>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>
</div>
<div class="modal-footer">
	<div class="row">
	  <div style="text-align: left;" class="col col-sm-6">
			<%= render "devise/shared/links" %>
		</div>
	  <div class="col col-sm-6">
	  	<input type="submit" class="btn btn-primary" value="Log in" />
	  </div>
	</div>
</div>
<% end %>