// (Write your custom CSS/LESS here.)

// Blocks

.piece { 
   display: none; 
   margin-bottom: 25px;
   overflow: hidden;
}
.paneBottom {
   padding-bottom: 25px;  
}
.clear { clear: both; }
.sidebar {
   nav p {
      margin: 5px 15px;
      span.label { cursor: pointer; }
      em { color: #888; }
   }
}

// Typography

.pointer { cursor: pointer !important; }

// Tabs

.nav-tabs > li > a.active {
   border-color: #DDDDDD;
   border-bottom-color: white;
}

// Lists

.spacious {
   li { 
      margin-top: 10px;
      margin-bottom: 10px;
   }
   > li {
      margin-bottom: 50px;
   }
}

// Images

.thumbnail {
   margin-right: 10px;
   display: inline-block;
   cursor: pointer;
   &:hover { background-color: desaturate(lighten(@officialGreen, 60%), 60%); }
   &:active { background-color: desaturate(lighten(@officialGreen, 50%), 50%); }
}
.img-option {
   margin: 10px;
   margin-bottom: 20px;
   max-width: 200px;
   max-height: 200px;
}

// Hover override

.show-always {
   &.cloak-hover { 
      visibility: visible; 
      opacity: 1;
   }
}
input.hover-edit {
   border-color: transparent;
   .box-shadow(0px 0px 0px);
   padding: 5px;
   min-height: 20px;
   background-color: transparent;
   &:hover
   , &:focus { 
      border-color: #CCC; 
      background-color: white;
      color: #222;
   }
}
.hover-grp:hover .hover-grp {
   .cloak-hover {  
      visibility: hidden;
      opacity: 0;
   }
   .half-cloak-hover {
      visibility: visible;
      opacity: 0.5;
   }
}
.hover-grp:hover .hover-grp:hover {
   .cloak-hover, .half-cloak-hover {  
      visibility: visible;
      opacity: 1;
   }
}

// Questions

.panel .panel-heading.editable { 
   padding-left: 30px; 
   padding-right: 275px;
   span.number {
      margin-left: -20px;
      display: inline-block;
   }
   input.hover-edit { display: inline-block; }
   span.controls {
      margin-right: -270px;
      width: 270px;
      display: inline-block;
   }
}

// Options

.panel {
   label.radio
   , label.checkbox {
      padding-left: 85px;
      i.icon-remove-sign { 
         float: left;
         margin-left: -80px;
         margin-top: 9px;
         cursor: pointer;
      }
      input[type="radio"]
      , input[type="checkbox"] {
         margin-left: -60px;
         margin-top: 9px;
      }
      input.hover-edit { height: 25px; }
      img.img-upload {
         cursor: pointer;
         float: left;
         margin-left: -35px;
      }
   }
}

// Data Tables

table.dataTable tr.odd 
, table.dataTable tr.even td.sorting_1 { 
  background-color: lighten(@gray-lighter, 3%);
}
table.dataTable tr.odd td.sorting_1 {
   background-color: @gray-lighter;
}
.dataTable a {
   color: darken(@officialGreen, 10%);
}
#dt_length {
   select {
      display: inline;
      width: 50px;
   }
}
#dt_filter {
   input {
      width: 150px;
      display: inline;
   }
}
.paginate_enabled_previous { background: url('assets/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('assets/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('assets/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: url('assets/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('assets/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('assets/forward_disabled.png') no-repeat top right; }
.sorting { background: url('assets/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('assets/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('assets/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('assets/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('assets/sort_desc_disabled.png') no-repeat center right; }

.menu {
   padding: 25px 15px 10px 15px;
   .btn.pull-right {
      margin-left: 5px; 
   }
}
.progress { 
   margin-bottom: 0px; 
   border: 1px solid #CCC;
   .progress-bar { padding: 0px 5px; }
}
.link_quiet {
   opacity: 0.4;
   &:hover { 
      text-decoration: none;
      opacity: 1;
   }
}

// Default styles, mobile-first, all viewports
@sidebarToggleWidth: 80%;

// body { overflow-y: hidden; }
html
, body
, .container { overflow-x: hidden; }
.container { 
   width: 200%;
   margin-left: -100%;
   .transition(margin 0.1s ease-out);
   max-width: none;
   section#main { margin-left: 50%; }
   &.toggle { 
      margin-left: (@sidebarToggleWidth - 100%); 
      section#main { opacity: 0.5; }
      section#sidebar { 
         position: fixed;
         right: 20%;
         bottom: 0;
         top: 54px;
         width: 80%;
         -webkit-overflow-scrolling: touch;
      }
   }
   &#page { 
      position: fixed;
      top: 50px;
      bottom: 0;
      -webkit-overflow-scrolling: touch;
      margin-bottom: @footerHeight;
   }
}
.navbar {
   z-index: 1;
   padding-left: 50%;
   .navbar-toggle {
     padding: 4px 12px;
     top: 4px;
     border: 0px transparent;
   }
   .navbar-nav > li > a {
     padding: 4.5px 10px;
   }
   .navbar-toggle.pull-left {
      left: 10px;
      right: auto;
      padding: 4px 12px;
      span[class^="icon"] { 
         color: white; 
         font-size: 18pt;
      }
   }
}
div.sticky-wrapper + section#main {
   float: left;
   width: 50%;
   margin-left: 0%;
}
section#sidebar { 
   // min-height: 700px;
   border-right: 1px solid;
   border-color: transparent;
   padding: 15px;
   overflow-y: auto;
   border-color: #DDD;
   .box-shadow(6px 2px 5px -4px #eeeeee);
   .transition(border-color 1s ease);
   margin-bottom: @footerHeight;
}
.sticky-wrapper { 
   float: left; 
   width: 50%;
   padding-left: 10%; 
}
ul.breadcrumb
, .navbar { 
   margin: 0px; 
   .border-top-radius(0px);
   .border-bottom-radius(0px);
}
img.img-thumbnail.pull-left { 
   margin-right: 10px; 
   margin-bottom: 10px;
}
.footer { 
   div {
      background-color: #333;
      padding: 20px;
      a, p, label, em, strong { color: #999; }
   }
}

// Exclusively phones
@media (max-width: 768px) { 
   ul.nav.pull-right { 
      float: none; 
      margin-top: 0px;
   } 
}

// iPad and larger
@media (min-width: 768px) { 
   div.sticky-wrapper + section#main { 
      padding-left: 25px;
      padding-right: 25px;
   }
   .footer .container { 
      padding-left: 15px;
      padding-right: 15px;
   }
}

// iPad in portrait mode
@media (min-width: 768px) and (max-width: 978px) {
   body.sidebar .navbar {
      > .container { padding-left: 60px; }
      .navbar-toggle.pull-left { 
         display: block;
         position: absolute;
         top: 5px;
      }
   }
   .container {
      #body { margin-top: 0px; }
      &.toggle { 
         margin-left: -60%; 
         section#sidebar { 
            right: 60%; 
            padding-left: 1%;
            left: 0;
            width: auto;
         }
         .col-offset-2 { margin-left: 20px; }
      }
   }
   .hidden-md{ display: none; }
}

// Anything larger than an iPad in portrait mode 
@media (min-width: 979px) {
   html, body, .container { overflow-x: visible; }
   .container
   , .container.toggle { 
      margin: 0px auto; 
      width: 100%;
      section#main { 
         opacity: 1; 
         margin-left: 0;
      }
      section#sidebar { 
         position: static; 
         width: 100%;
      }
      &#page { 
         position: static; 
         margin-bottom: 0px;
      }
   }
   .navbar { padding-left: 0px; }
   .sticky-wrapper { 
      width: 25%; 
      padding-left: 0px;
   }
   section#sidebar {
      width: 100%;
      float: left;
      background-color: white;
      border-color: transparent;
      .box-shadow(0px 0px 0px);
      margin-bottom: 0px;
      &.stuck { 
         position: fixed;
         top: 0;
         bottom: 0;
         border-color: #DDD;
         width: 25%;
         .box-shadow(6px 2px 5px -4px #eeeeee);
         .panel.panel-primary,
         .panel.panel-primary .panel-heading { .border-top-radius(0px); }
      }
   }
   div.sticky-wrapper + section#main { 
      width: 75%; 
   }
   .footer .container {
      margin-left: auto;
      .col-offset-3 { margin-left: 25%; }
   }
}

// Extra-large monitors
@media (min-width: 1200px) {
   .container { max-width: 1200px; }
   section#sidebar.stuck { width: 300px; }
} 

// Extra responsive utilities

// For Phones
.visible-sm_ib   { display: inline-block !important; }
.visible-md_ib   { display: none !important; }
.visible-lg_ib   { display: none !important; }

.hidden-sm_ib    { display: none !important; }
.hidden-md_ib    { display: inline-block !important; }
.hidden-lg_ib    { display: inline-block !important; }


// Tablets & small desktops only
@media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
  .visible-sm_ib   { display: none !important; }
  .visible-md_ib   { display: inline-block !important; }
  .visible-lg_ib   { display: none !important; }

  .hidden-sm_ib    { display: inline-block !important; }
  .hidden-md_ib    { display: none !important; }
  .hidden-lg_ib    { display: inline-block !important; }
}

// For desktops
@media (min-width: @screen-desktop) {
  .visible-sm_ib   { display: none !important; }
  .visible-md_ib   { display: none !important; }
  .visible-lg_ib   { display: inline-block !important; }

  .hidden-sm_ib    { display: inline-block !important; }
  .hidden-md_ib    { display: inline-block !important; }
  .hidden-lg_ib    { display: none !important; }
}
