.chart{
  display:table;
  table-layout: fixed;   
  width:60%;
  max-width:700px;
  width: 100%;
  height:200px;
  margin:0 auto;
  margin-bottom: 30px;
  padding: 0;
}
.chart li{
  position:relative;
  display:table-cell;
  vertical-align:bottom;
  height:200px;
}
.chart li span{
  margin:0 1em;
  display: block;
  background: green;
}
.chart li span:before{
  position:absolute;
  left:0;right:0;top:100%;
  padding:5px 1em 0;
  display:block;
  text-align:center;
  content:attr(title);
  word-wrap: break-word;
}