// Load Bootstrap.
// ---------------

// Core variables and mixins
@import "../bootstrap/less/variables.less";

// Get the theme vars
// ------------------

.theme() {
  @import "../../themes/@{theme}/variables.less";

  @import "../bootstrap/less/mixins.less";

  // Reset
  @import "../bootstrap/less/normalize.less";
  @import "../bootstrap/less/print.less";

  // Core CSS
  @import "../bootstrap/less/scaffolding.less";
  @import "../bootstrap/less/type.less";
  @import "../bootstrap/less/code.less";
  @import "../bootstrap/less/grid.less";

  @import "../bootstrap/less/tables.less";
  @import "../bootstrap/less/forms.less";
  @import "../bootstrap/less/buttons.less";

  // Components: common
  @import "../bootstrap/less/component-animations.less";
  @import "../bootstrap/less/dropdowns.less";
  @import "../bootstrap/less/list-group.less";
  @import "../bootstrap/less/panels.less";
  @import "../bootstrap/less/wells.less";
  @import "../bootstrap/less/close.less";

  // Components: Nav
  @import "../bootstrap/less/navs.less";
  @import "../bootstrap/less/navbar.less";
  @import "../bootstrap/less/button-groups.less";
  @import "../bootstrap/less/breadcrumbs.less";
  @import "../bootstrap/less/pagination.less";
  @import "../bootstrap/less/pager.less";

  // Components: Popovers
  @import "../bootstrap/less/modals.less";
  @import "../bootstrap/less/tooltip.less";
  @import "../bootstrap/less/popovers.less";

  // Components: Misc
  @import "../bootstrap/less/alerts.less";
  @import "../bootstrap/less/thumbnails.less";
  @import "../bootstrap/less/media.less";
  @import "../bootstrap/less/labels.less";
  @import "../bootstrap/less/badges.less";
  @import "../bootstrap/less/progress-bars.less";
  @import "../bootstrap/less/accordion.less";
  @import "../bootstrap/less/carousel.less";
  @import "../bootstrap/less/jumbotron.less";

  // Utility classes
  @import "../bootstrap/less/utilities.less"; // Has to be last to override when necessary
  @import "../bootstrap/less/responsive-utilities.less";

  @import "../../themes/@{theme}/theme.less";
}
.theme();

// Glyphicons path fix
// ===================

@glyphicons-font-path: "bootstrap/fonts";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('@{glyphicons-font-path}/glyphiconshalflings-regular.eot');
  src: url('@{glyphicons-font-path}/glyphiconshalflings-regular.eot?#iefix') format('embedded-opentype'),
       url('@{glyphicons-font-path}/glyphiconshalflings-regular.woff') format('woff'),
       url('@{glyphicons-font-path}/glyphiconshalflings-regular.ttf') format('truetype'),
       url('@{glyphicons-font-path}/glyphiconshalflings-regular.svg#glyphicons_halflingsregular') format('svg');
  font-style: normal;
  font-weight: normal;
}

