<h1 data-bind="html: $root.PVM.heading" class="big-heading" style=""><% if defined? back_button %><a id="back" href="#" class="link_quiet"><i class="icon-backward"></i> </a><% end %><% if defined? icon_class %>&nbsp;<i class="custom-icon-<%= icon_class %>"></i>&nbsp;<% end %><%= heading_text %></h1>
