doctype html
html(lang="en" ng-app="mods")
  head
    title = site_title
    script(src="//cdnjs.cloudflare.com/ajax/libs/stacktrace.js/0.5.0/stacktrace.min.js")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/ce0d64d5-0b49-4406-94f1-308075dded48.css")
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:title" content="#{site_title}")
    meta(property="og:description" content="#{site_description}")
    = csrf_meta_tags
    style #growlContainer { z-index: 5; top: 80px !important; }
    = javascript_include_tag "application", "data-turbolinks-track" => true
  body
    .sf-wrapper.blackdrop
      section.main.container
        #main
          .row
            .col.col-12
              #app
                = yield
      .push
      footer.footer
        div
          p 
            | &copy; 
            a(href="#{my_name_link}") #{my_name}
            span &nbsp; Version #{version}
      = filepicker_js_include_tag
      javascript:
        if ('#{notice}' != '') $.growl({title: '#{notice}', delay: 2000})

        $('#back').click(function(e) {
          e.preventDefault()
          window.history.back()
        })
        var tablize = function() {
            for (var i = 0; i < $('table#dt').length; i++) {
              if ($($('table#dt')[i]).find('td').length > 1) {
                $($('table#dt')[i]).dataTable({
                  aaSorting: [[1,'desc']]
                });
              }
            }
          }
        $(document).ready(function() {
          tablize()
        })
        var $viewportMeta = $('meta[name="viewport"]');
        $('input, select, textarea').bind('focus blur', function(event) {
          $viewportMeta.attr('content', 'width=device-width,initial-scale=1,maximum-scale=' + (event.type == 'blur' ? 10 : 1));
        });
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42228987-1', 'lab95.com');
        ga('send', 'pageview');
    = javascript_include_tag params[:controller]
    - if user_signed_in?
      - if !current_user.tourTaken
        = javascript_include_tag 'libraries/guiders.js'
        = stylesheet_link_tag 'guiders.css'
        javascript:
          guiders.createGuider({
            buttons: [{name: 'Next'}]
            , title: 'Select a sample module'
            , description: 'Modules are small tools for collecting data. Each module collects data in its own specific way.'
            , attachTo: '#tour-modules'
            , id: 'aboutModules'
            , position: 2
            , next: 'preview'
          }).show()
          guiders.createGuider({
            buttons: [{name: 'Next'}]
            , title: 'Publish or Preview at any time'
            , description: 'To preview an individual module or publish it for completion, you\'ll never need to hit "save". We do it automatically. Just hit the Preview/Save button.'
            , attachTo: '#tour-preview'
            , id: 'preview'
            , position: 5
            , next: 'mg'
          })
          guiders.createGuider({
            buttons: [{name: 'Next'}]
            , title: 'Select a module group'
            , description: 'Have your Modules run one after another by adding them to a Module Group. Great for multipage surveys or complex usability tests. We\'ve created a sample with all the sample here with all the Modules strung together.'
            , attachTo: '#tour-mgs'
            , id: 'mg'
            , position: 2
            , next: 'results'
          })
          guiders.createGuider({
            buttons: [{name: 'Close', onclick: function() {
                $.ajax({
                  url: '/users/#{current_user.id}.json'
                  , data: {
                    user: { tourTaken: true }
                  }
                  , type: 'PUT'
                  , success: function(data) {
                    console.log(data)
                  }
                  , error: function(data) {
                    console.log(data)
                  }
                });
                guiders.hideAll()
              }}]
            , title: 'View your results'
            , description: 'Results are recorded on the "Results" tab in the form of graphs and tables.'
            , attachTo: '#tour-results'
            , id: 'results'
            , position: 6
          })