doctype html
html(lang="en")
	head
		title Lab95 - A Suite of Small Tools for Collecting Data
		script(src="//cdnjs.cloudflare.com/ajax/libs/stacktrace.js/0.5.0/stacktrace.min.js")
		link(type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/ce0d64d5-0b49-4406-94f1-308075dded48.css")
		= stylesheet_link_tag "application-legacy", media: "all", "data-turbolinks-track" => true
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		= csrf_meta_tags
		style #growlContainer { z-index: 5; top: 80px !important; }
		= javascript_include_tag "application", "data-turbolinks-track" => true
	body
		.container(style="padding-top: 25px;")
			.row
				.span8.offset2
					= yield
			hr
			.row
				.span8.offset2
					p 
						| Powered by 
						a(href="/") Lab95
		= javascript_include_tag params[:controller]
		javascript:
			window.onbeforeunload = function() {
				if (mg.step !== mg.totalMods) return "Really leave this survey?"
			}
