// Typography

h1
, h2
, h3
, h4
, h5 { 
   font-family: @font-family-sans-serif; 
   line-height: 18px;
}

.navbar-brand { 
   font-family: @brand-font-family; 
   line-height: 19px;
   padding: 7px;
}
body.sidebar .navbar {
   .navbar-toggle { 
      padding: 5px 12px;
      top: 4px !important;
      &.pull-left { 
         padding: 3px 16px;
         top: 4px;
         span { line-height: 8px; }
      }
   }
}

h1 { 
   font-size: 14px;
}
h2
, h3
, h4
, h5 { 
   font-size: 12px; 
}

